flows.json
[{"id":"9e68c672.123078","type":"tab","label":"gin","disabled":false,"info":""},{"id":"ff37b246.d6583","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"45e67b6d.cd3294","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"297ef035.193bb","type":"inject","z":"9e68c672.123078","name":"100","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":450,"y":260,"wires":[["1acfb07a.09088","37bb198b.20db36"]]},{"id":"1fe36683.e07459","type":"inject","z":"9e68c672.123078","name":"200","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"num","x":450,"y":320,"wires":[["1acfb07a.09088","37bb198b.20db36"]]},{"id":"7ec5222.0ecf1dc","type":"inject","z":"9e68c672.123078","name":"300","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300","payloadType":"num","x":450,"y":380,"wires":[["1acfb07a.09088","37bb198b.20db36"]]},{"id":"c9acada3.7d7d5","type":"inject","z":"9e68c672.123078","name":"400","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"400","payloadType":"num","x":450,"y":440,"wires":[["1acfb07a.09088","37bb198b.20db36"]]},{"id":"fc36183.f82ebe8","type":"inject","z":"9e68c672.123078","name":"500","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"500","payloadType":"num","x":450,"y":500,"wires":[["1acfb07a.09088","37bb198b.20db36"]]},{"id":"b15fd4dc.d200e8","type":"DeviceStats","z":"9e68c672.123078","name":"","mem":true,"nw":false,"load":true,"hostname":false,"useString":false,"x":690,"y":160,"wires":[["72051b2e.91cd14"]]},{"id":"72051b2e.91cd14","type":"function","z":"9e68c672.123078","name":"","func":"var obj = msg.payload;\nmyObj = {};\nmyObj.cpu = obj.load[0] * 100;\nmyObj.mem = obj.mem.used;\nmyObj.free = obj.mem.free;\ntotal = myObj.mem + myObj.free;\nmyObj.mempct = (myObj.mem * 100)/total;\nmsg.payload = myObj;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":160,"wires":[["a0a86b8f.728ee8","22741e5d.697662"]]},{"id":"1acfb07a.09088","type":"influxdb out","z":"9e68c672.123078","influxdb":"ff37b246.d6583","name":"","measurement":"input","precision":"","retentionPolicy":"","x":1170,"y":320,"wires":[]},{"id":"37bb198b.20db36","type":"debug","z":"9e68c672.123078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":400,"wires":[]},{"id":"a0a86b8f.728ee8","type":"influxdb out","z":"9e68c672.123078","influxdb":"ff37b246.d6583","name":"","measurement":"system","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1180,"y":160,"wires":[]},{"id":"22741e5d.697662","type":"debug","z":"9e68c672.123078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":220,"wires":[]},{"id":"6330528f.9ce31c","type":"2JCIE-BU in","z":"9e68c672.123078","name":"","messageFormat":"standard","ttl":"","x":710,"y":880,"wires":[["5c21feb5.01afd","15813ceb.ce36f3"]]},{"id":"5ba96387.c72c1c","type":"2JCIE-BU out","z":"9e68c672.123078","name":"","x":900,"y":580,"wires":[["5abdaeb7.198e8"]]},{"id":"5da676cb.2110b8","type":"serial in","z":"9e68c672.123078","name":"","serial":"45e67b6d.cd3294","x":450,"y":880,"wires":[["6330528f.9ce31c"]]},{"id":"5c21feb5.01afd","type":"debug","z":"9e68c672.123078","name":"Dump command response message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":880,"wires":[]},{"id":"5abdaeb7.198e8","type":"serial out","z":"9e68c672.123078","name":"","serial":"45e67b6d.cd3294","x":1110,"y":580,"wires":[]},{"id":"6ffbfed3.5f5f1","type":"inject","z":"9e68c672.123078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"getLatestSensorData","payload":"","payloadType":"str","x":510,"y":580,"wires":[["5ba96387.c72c1c"]]},{"id":"f037898a.f34f18","type":"inject","z":"9e68c672.123078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"getMountingOrientation","payload":"","payloadType":"str","x":500,"y":640,"wires":[["5ba96387.c72c1c"]]},{"id":"6ea2c7e3.6f5bf8","type":"inject","z":"9e68c672.123078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"getDeviceInformation","payload":"","payloadType":"str","x":500,"y":700,"wires":[["5ba96387.c72c1c"]]},{"id":"45c8abb7.758c64","type":"inject","z":"9e68c672.123078","name":"set LED Color (Light Blue)","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setLED","payload":"{\"displayRule\":\"ON\",\"color\":\"#5899f3\"}","payloadType":"json","x":510,"y":760,"wires":[["5ba96387.c72c1c"]]},{"id":"9abc0564.123d18","type":"inject","z":"9e68c672.123078","name":"set LED Color Rule (Temperature)","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setLED","payload":"{\"displayRule\":\"Temperature\"}","payloadType":"json","x":540,"y":820,"wires":[["5ba96387.c72c1c"]]},{"id":"15813ceb.ce36f3","type":"function","z":"9e68c672.123078","name":"","func":"var obj = msg.payload;\nmyObj = {};\nmyObj = obj.data;\nmsg.payload = myObj;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":800,"wires":[["c08ecfb1.fd749","6134d4a4.43fe8c"]]},{"id":"c08ecfb1.fd749","type":"debug","z":"9e68c672.123078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":800,"wires":[]},{"id":"4660304b.12f5","type":"inject","z":"9e68c672.123078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":160,"wires":[["b15fd4dc.d200e8"]]},{"id":"6134d4a4.43fe8c","type":"influxdb out","z":"9e68c672.123078","influxdb":"ff37b246.d6583","name":"","measurement":"OMRON","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1170,"y":740,"wires":[]}]