config/.flows.json.backup
[{"id":"2c3e1789.2da6f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94d0a2e9.f3f26","type":"influxdb","z":"","hostname":"192.168.15.87","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"37eca011.a4807","type":"serial-port","z":"","serialport":"/dev/ttyRPMSG30","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"fcf3537f.5597","type":"serial in","z":"2c3e1789.2da6f8","name":"","serial":"37eca011.a4807","x":350,"y":180,"wires":[["91b338f1.c46bb8"]]},{"id":"91b338f1.c46bb8","type":"function","z":"2c3e1789.2da6f8","name":"","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":180,"wires":[["614b2d7.a3cafd4","be6ff20c.f1289"]]},{"id":"614b2d7.a3cafd4","type":"influxdb out","z":"2c3e1789.2da6f8","influxdb":"94d0a2e9.f3f26","name":"","measurement":"mpu6050","precision":"","retentionPolicy":"","x":930,"y":180,"wires":[]},{"id":"be6ff20c.f1289","type":"debug","z":"2c3e1789.2da6f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"28271dd5.f4e542","type":"influxdb out","z":"2c3e1789.2da6f8","influxdb":"94d0a2e9.f3f26","name":"","measurement":"inputdata","precision":"","retentionPolicy":"","x":900,"y":400,"wires":[]},{"id":"95d18d99.e28ab","type":"debug","z":"2c3e1789.2da6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":520,"wires":[]},{"id":"b1f3f571.6d47e8","type":"inject","z":"2c3e1789.2da6f8","name":"100","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":330,"y":380,"wires":[["95d18d99.e28ab","28271dd5.f4e542"]]},{"id":"284f7cd.d8a8784","type":"inject","z":"2c3e1789.2da6f8","name":"200","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"num","x":330,"y":440,"wires":[["95d18d99.e28ab","28271dd5.f4e542"]]},{"id":"6ea20d5b.5b9eb4","type":"inject","z":"2c3e1789.2da6f8","name":"300","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300","payloadType":"num","x":330,"y":500,"wires":[["95d18d99.e28ab","28271dd5.f4e542"]]},{"id":"1d52e15c.6a163f","type":"inject","z":"2c3e1789.2da6f8","name":"400","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"400","payloadType":"num","x":330,"y":560,"wires":[["95d18d99.e28ab","28271dd5.f4e542"]]},{"id":"2ca322bf.7b4b5e","type":"inject","z":"2c3e1789.2da6f8","name":"500","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"500","payloadType":"num","x":330,"y":620,"wires":[["95d18d99.e28ab","28271dd5.f4e542"]]},{"id":"a593b929.1f30b8","type":"inject","z":"2c3e1789.2da6f8","name":"600","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"600","payloadType":"num","x":330,"y":680,"wires":[["95d18d99.e28ab","28271dd5.f4e542"]]}]